body {
    background: repeating-linear-gradient(
  45deg,
  #FCCD01,
  #658D19,
  #4278B8,
  #EF8F88,
  #FCCD01 10px,
  #465298 10px,
  #465298 20px
);
    font-family: sans-serif;
}

.card {
  text-align: center;
  background: white;
  padding: 30px;
  border: 10px solid black;
  margin: 50px;

}

.btn-primary{
  background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
  );
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: red;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

